[build]
# The index HTML file to drive the bundling process.
target = "index.html"

# Build in release mode.
release = true

# The output dir for all final assets.
dist = "dist"

# The public URL from which assets are to be served.
public_url = "/site/"

[watch]
# Paths to watch. The `build.target`'s parent folder is watched by default.
watch = ["src", "index.html", "styles.scss"]

# Paths to ignore.
ignore = ["dist"]

[serve]
# The address to serve on.
address = "127.0.0.1"
# The port to serve on.
port = 8080

# Open a browser tab once the initial build is complete.
open = false

# Disable auto-reload of the web app.
no_autoreload = false

[clean]
# The output dir.
dist = "dist"
# Optionally perform additional explicit file cleanups.
cargo = false
